
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <base href="/">
</head>
<body>
  <div class="columns">
    <div class="column">
      First col
    </div>
    <div class="column">
      second col
    </div>
    <div class="column">
      third col
    </div>
    <div class="column">
      fourth col
    </div>

  </div>
  <br><br>
  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
    </div>
    <div class="column">
      <button class="button is-dark" (click)="redirectParent()">Child/Parent Component</button>
    </div>
    <div class="column">
      <button class="button is-dark" (click)="redirectCalculator()">Calcs Component</button>
    </div>
    <div class="column">
    </div>
    <div class="column">
    </div>
  </div>
</body>
</html>


<router-outlet></router-outlet>
