<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
</head>
<body>
  <div class="header">
    <h1>Calculator</h1>
  </div>
  <div class="main">
    <h2>{{num1}}</h2><h2>{{num2}}</h2>
    <br>
    <div class="calcButtons">

      <button type='button' (click)="add1()">1</button>
      <button type='button' (click)="add2()">2</button>
      <button type='button' (click)="add3()">3</button>
      <button type='button' (click)="add4()">4</button>
      <button type='button' (click)="add5()">5</button>
      <button type='button' (click)="add6()">6</button>
      <button type='button' (click)="add7()">7</button>
      <button type='button' (click)="add8()">8</button>
      <button type='button' (click)="add9()">9</button>
      <button type='button' (click)="add0()">0</button>
      <button type='button' (click)="addSub()">Subtract</button>
      <button type='button' (click)="addAdd()">Add</button>
      <button type='button' (click)="addMult()">Multiply</button>
      <button type='button' (click)="addDiv()">Divide</button>
      <button type='button' (click)="calculate()">=</button>
    </div>
    <br>
    <h2> Answer: {{arr_num}} </h2>
  </div>
</body>
</html>


<router-outlet></router-outlet>
