.header {
  text-align: center;
  background-color: #7e9a9a;
  top: 0;
  position: fixed;
  width:100%;
  left:0;
  right:0;
  z-index:2;
}

.text {
  white-space:pre-wrap;
}

.main {
  z-index: 1;
  position: relative;
  top:100px;

}

.calcButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 16px;
}

#sort {
  position:absolute;
  top: 600px;
  left: 0;
}

#box {
  width: 500px;
  height: 45px;
  position: absolute;

  left: 30%;
  border: 5px solid gray;
  margin: 0;
  text-align: center;
}

#box1 {
  width: 468px;
  height: 200px;
  position: absolute;

  left: 30%;
  top: 140%;
  border: 5px solid gray;
  margin: 0;
  text-align: center;
}

#answer {
  position:absolute;
  top: 700px;
  right: 650px;
}
