<html>
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <base href="/">
</head>
<body>
  <br>
  <br>
  <div class="box">
    <div class="columns">
      <div class="column">
        <h2 class="box">{{numDisplay}}</h2>
        <div class="columns">
          <div class="column">
            <button class='button is-normal is-light is-fullwidth is-focused' (click)="add(1)">1</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(4)">2</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(7)">3</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(10)">0</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="addMult()">Multiply</button>
          </div>
          <div class="column">
            <button class='button is-normal is-light is-fullwidth' (click)="add(2)">4</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(5)">5</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(8)">6</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="addSub()">Subtract</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="addDiv()">Divide</button>
          </div>
          <div class="column">
            <button class='button is-normal is-light is-fullwidth' (click)="add(3)">7</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(6)">8</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="add(9)">9</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="addAdd()">Add</button> <br>
            <button class='button is-normal is-light is-fullwidth' (click)="calculate()">=</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</body>
</html>


<router-outlet></router-outlet>
