.text {
  white-space:pre-wrap;
}

#boxes {
  width: 100%;
  border: 5px solid gray;
  text-align: center;
}

#boxes1 {
  border: 5px solid gray;
}

#answer {
  position:absolute;
  top: 700px;
  right: 650px;
}
