.container{
  background-color: salmon;
  width: 100%;
  font-size: 50px;
}

.aHeader{
  background-color: #7e9a9a;
  padding:10px;
  cursor: pointer;
}

.aHeader:hover{
  background-color: lightgreen;
}

.abody{
  padding:10px;
}

*{
  font-family: sans-serif;
}

::ng-deep p{
  margin: 30px;
}
